body {
    font-size: 2em;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
}

#header-nav {
    background-color: rgb(228, 255, 233);
    border-radius: 0px;    
    border:0;
}

#logo-img {
    background-image: url('../images/logo.png');
    width: 150px;
    height:150px;
    margin: 10px 15px 10px 0;
    border-radius: 15px;
}