body {
    font-size: 5em;
    color: black;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
}

#header-nav {
    background-color: rgb(255, 208, 208);
    border-radius: 0px;    
}

#logo-img {
    background-image: url('https://static-s.aa-cdn.net/img/ios/1252129586/dcf3847d97c1f96225df3d7bb11bf679?v=1');
    border: 2px solid black;
    width: 150px;
    height:150px;
    margin: 10px 15px 10px 0;
}